/* FlipClock */
/* .flip-clock-wrapper ul {
  background: #fff !important;
}

.flip-clock-wrapper ul li a div.up:after {
  background-color: black !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.flip-clock-wrapper ul li a div div.inn {
  color: lightgreen !important;
  text-shadow: 0 1px 1px #555 !important;
  background-color: black !important;
} */

html {
  position: relative;
  min-height: 100%;
  overflow:hidden;
}
body{
  background: white;
  color: black;
}
/* Tabel jadwal sholat */
.table > tbody > tr > td {
  border-top: 0px solid #ddd;
}
#blank{
  background: black;
  height: 100%;
  width: 100%;
  position: absolute;
}
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

/* Responsive Flipclock*/
/* =screen-xs */
  @media only screen and (max-height: 700px){
    .your-clock {zoom: 0.8; -moz-transform: scale(0.8);}
    .clock-sholat-0, .clock-sholat-1,.clock-sholat-2,.clock-sholat-3,.clock-sholat-4,.clock-sholat-5{
      zoom: 0.6;}
    marquee {font-size: 1.7em;}
    /* Praadzan */
    .downcounter {zoom: 0.5; -moz-transform: scale(0.5);}
    #sholat-terdekat {zoom: 1; -moz-transform: scale(1);}
    /* Iqomah */
    .clock-downcounter { zoom: 2.5; -moz-transform: scale(2.5);}
    #iqomah {padding-top:40px;}
    .tulisaniqomah, .tulisansholat{font-size: 6em;}
  }

  @media only screen and (min-height: 701px) and (max-height: 800px){
    .your-clock {zoom: 1; -moz-transform: scale(0.8);}
    .clock-sholat-0, .clock-sholat-1,.clock-sholat-2,.clock-sholat-3,.clock-sholat-4,.clock-sholat-5{
      zoom: 0.7;}
    marquee {font-size: 1.8em;}
    /* Praadzan */
    .downcounter {zoom: 0.6; -moz-transform: scale(0.6);}
    #sholat-terdekat {zoom: 1.1; -moz-transform: scale(1.1);}
    #praadzan{margin-top: 5%;}
    /* Iqomah */
    .clock-downcounter { zoom: 2.7; -moz-transform: scale(2.7);}
    #iqomah {padding-top:80px;}
    .tulisaniqomah, .tulisansholat{font-size: 6em;}
  }

  @media only screen and (min-height: 801px) and (max-height: 900px){
    .your-clock {zoom: 1.2; -moz-transform: scale(0.8);}
    .clock-sholat-0, .clock-sholat-1,.clock-sholat-2,.clock-sholat-3,.clock-sholat-4,.clock-sholat-5{
      zoom: 0.8;}
    marquee {font-size: 2em;}
    /* Praadzan */
    .downcounter {zoom: 0.7; -moz-transform: scale(0.7);}
    #sholat-terdekat {zoom: 1.3; -moz-transform: scale(1.3);}
    #praadzan{margin-top: 6%;}
    /* Iqomah */
    .clock-downcounter { zoom: 3.0; -moz-transform: scale(3.0);}
    #iqomah {padding-top:90px;}
    .tulisaniqomah, .tulisansholat{font-size: 7em;}
  }

  @media only screen and (min-height: 901px) and (max-height: 1800px){
    .your-clock {zoom: 1.3; -moz-transform: scale(1.3);}
    .clock-sholat-0, .clock-sholat-1,.clock-sholat-2,.clock-sholat-3,.clock-sholat-4,.clock-sholat-5{
      zoom: 0.9;}
    marquee {font-size: 2em;}
    #home{margin-top: 5%;}
    h1{font-size: 3em;}
    h3{font-size: 2.4em;}
    h4{font-size: 1.8em;}
    /* Praadzan */
    .downcounter {zoom: 0.8; -moz-transform: scale(0.8);}
    #sholat-terdekat {zoom: 1.5; -moz-transform: scale(1.5);}
    #praadzan{margin-top: 12%;}
    /* Iqomah */
    .clock-downcounter { zoom: 3.4; -moz-transform: scale(3.4);}
    #iqomah {padding-top:100px;}
    .tulisaniqomah, .tulisansholat{font-size: 8em;}
  }

.clock-sholat{
  zoom: 1.2;
  -moz-transform: scale(1);
}
.flip-clock-label{
  display: none !important;
}

marquee {
  position: fixed;
  color: white;
  bottom: 0;
  width: 100%;
  background-color: #212121;
}
/* Homepage Border Sholat */
.border-active{
  border: 10px solid grey;
  width: fit-content;
  border-radius: 20px;
}
#table-jadwal td{
  text-align: -webkit-center;
  padding: 5px;
}
#table-jadwal h4{
  margin-bottom:0px;
}
