html {
  position: relative;
  min-height: 100%;
  overflow:hidden;
}
body{
  background: white;
  color: black;
  /* text-shadow: 1px 1px 20px #000000; */
}
#blank{
  background: black;
  height: 100%;
}
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
.your-clock{
  zoom: 1;
  -moz-transform: scale(1.2)
}
.clock-sholat{
  zoom: 1.2;
  -moz-transform: scale(1);
}
.flip-clock-label{
  display: none !important;
}
.clock-downcounter{
  zoom: 1.2;
  -moz-transform: scale(1.5)
}
marquee {
  position: fixed;
  color: white;
  bottom: 0;
  width: 100%;
  background-color: #212121;
  font-size: 1.5em;
}
/* Praadzan */
.clock-sholat-0, .clock-sholat-1,.clock-sholat-2,.clock-sholat-3,.clock-sholat-4,.clock-sholat-5{
  zoom: 0.7;
}
